:export {

    BLUE : #1b3050;
    YELLOW : #f5b117;
    GREY : #EEE;
    BLUISH : #cdd1d9;
    RED : #cf1f25;
    WHITE : #FFF;
    
    GREEN : #354e57;
    ASH : #c6b9b6;
    BROWN : #a67744;
    NEWBLACK : #292724;
    NEWGREEN : #8FB9AB;

    VIOLET : #6667AB;

}

    /* VIOLET : #6667AB;
    GREEN : #85AC94;
    RED : #D3927D;
    YELLOW : #CDB97D;
    PINK : #E3C1BE; */