@font-face {
    font-family: 'Black';
    font-weight: 300;
    src: local('Pretendard-Black'),
    url(${Black}) format('truetype');
}
@font-face {
    font-family: 'Bold';
    font-weight: 300;
    src: local('Pretendard-Bold'),
    url(${Bold}) format('truetype');
}
@font-face {
    font-family: 'ExtraBold';
    font-weight: 300;
    src: local('Pretendard-ExtraBold'),
    url(${ExtraBold}) format('truetype');
}
@font-face {
    font-family: 'ExtraLight';
    font-weight: 300;
    src: local('Pretendard-ExtraLight'),
    url(${ExtraLight}) format('truetype');
}
@font-face {
    font-family: 'Light';
    font-weight: 300;
    src: local('Pretendard-Light'),
    url(${Light}) format('truetype');
}
@font-face {
    font-family: 'Medium';
    font-weight: 300;
    src: local('Pretendard-Medium'),
    url(${Medium}) format('truetype');
}
@font-face {
    font-family: 'Regular';
    font-weight: 300;
    src: local('Pretendard-Regular'),
    url(${Regular}) format('truetype');
}
@font-face {
    font-family: 'SemiBold';
    font-weight: 300;
    src: local('Pretendard-SemiBold'),
    url(${SemiBold}) format('truetype');
}
@font-face {
    font-family: 'Thin';
    font-weight: 300;
    src: local('Pretendard-Thin'),
    url(${Thin}) format('truetype');
}
@font-face {
    font-family : 'Hand';
    font-weight : 300;
    src: url(${Hand}) format('truetype');
}

@font-face {
    font-family: 'Arial_Bold';
    font-weight: 300;
    src: local('Arial_bold'),
    url(${ArialBold}) format('truetype');
}